{% extends "base.html" %}
{% block title %}About this site – Lab 7{% endblock %}

{% block content %}
<div class="static-page">
    <h1><img src="/static/about.png"><br />About this site</h1>
    <p>This site is a (very) simple blog built with Flask and Jinja2, for Lab 7
        of CYOP300, offered by <a href="https://www.umgc.edu/">University of
            Maryland Global Campus</a></p>
    <p>This lab makes use of text blog entries taken from my own personal blog.</p>
    <p>Images in the photo gallery were taken by myself, and are used with permission from myself.</p>
    <p>Copyrights and trademarks for the service icons used in the External Links footer are held by their respective
        owners.</p>
    <a href="/" class="back-link">&larr; Return to top of site.</a>
</div>
{% endblock %}
