{% extends "base.html" %}
{% block title %}Photos – Lab 7{% endblock %}

{% block content %}
<div class="static-page">
  <!-- Header image for photos page -->
  <h1><img src="/static/photos.png" alt="Photo gallery" width="600" height="auto"><br />
    Photos</h1>
    <p>This is a collection of photos taken by me. Click on the image to go to the full-size photo hosted on <a
            href="https://www.flickr.com">Flickr</a></p>

  <hr />
    <h2>Gallery</h2>
  <hr/>
  <!-- Header image for people photos -->
  <h3><img src="/static/people.png" alt="People" width="300" height="auto"><br/>
    People</h3>

    <ul>
        <li><!-- In the moment between moments -->
        </li><a data-flickr-embed="true"
            href="https://www.flickr.com/photos/alberthmatos/54790700098/in/dateposted-public/" title="_DSC0045"><img
                src="https://live.staticflickr.com/65535/54790700098_fc4bca248e_w.jpg" width="400" height="267"
                alt="_DSC0045" /></a>
        <script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
        </li>
        <li><!-- Shadows and light -->
            <a data-flickr-embed="true"
                href="https://www.flickr.com/photos/alberthmatos/54790771845/in/dateposted-public/"
                title="_DSC9788"><img src="https://live.staticflickr.com/65535/54790771845_539ddecdb3_w.jpg" width="400"
                    height="267" alt="_DSC9788" /></a>
            <script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
        </li>
        <li><!-- Serenity in the sun -->
            <a data-flickr-embed="true"
                href="https://www.flickr.com/photos/alberthmatos/54792686179/in/dateposted-public/"
                title="_DSC0117"><img src="https://live.staticflickr.com/65535/54792686179_00044f97de_w.jpg" width="400"
                    height="267" alt="_DSC0117" /></a>
            <script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
        </li>
    </ul>
  <hr/>
  <!-- Header image for animal photos -->
  <h3><img src="/static/animals.png" alt="Animals" width="300" height="auto"><br/>
    Animals</h3>

    <ul>
        <li><!-- Odin -->
            <a data-flickr-embed="true"
                href="https://www.flickr.com/photos/alberthmatos/4136054112/in/dateposted-public/"
                title="20090111-IMG_4382"><img src="https://live.staticflickr.com/65535/4136054112_ef620a3595_w.jpg"
                    width="400" height="300" alt="20090111-IMG_4382" /></a>
            <script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
        </li>
        <li><!-- Seagull of doom -->
            <a data-flickr-embed="true"
                href="https://www.flickr.com/photos/alberthmatos/54747353089/in/dateposted-public/"
                title="_DSC8287"><img src="https://live.staticflickr.com/65535/54747353089_09979bb5d1_w.jpg" width="400"
                    height="267" alt="_DSC8287" /></a>
            <script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
        </li>
        <li><!-- Cacophony of birds -->
            <a data-flickr-embed="true"
                href="https://www.flickr.com/photos/alberthmatos/54838011620/in/dateposted-public/"
                title="_DSC1022"><img src="https://live.staticflickr.com/65535/54838011620_3632ec6e5a_w.jpg" width="400"
                    height="267" alt="_DSC1022" /></a>
            <script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
        </li>
    </ul>
  <hr/>
  <!-- Header image for places photos -->
  <h3><img src="/static/places.png" alt="Places" width="300" height="auto"><br/>
    Locations</h3>

    <ul>
        <li><!-- Placid Lake Erie -->
            <a data-flickr-embed="true"
                href="https://www.flickr.com/photos/alberthmatos/54836827972/in/dateposted-public/"
                title="_DSC1212"><img src="https://live.staticflickr.com/65535/54836827972_34f2db60e1_w.jpg" width="400"
                    height="267" alt="_DSC1212" /></a>
            <script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
        </li>
        <li><!-- Marblehead Lighthouse -->
            <a data-flickr-embed="true"
                href="https://www.flickr.com/photos/alberthmatos/54837928229/in/dateposted-public/"
                title="_DSC1341"><img src="https://live.staticflickr.com/65535/54837928229_8f2724640d_w.jpg" width="400"
                    height="267" alt="_DSC1341" /></a>
            <script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
        </li>
        <li><!-- Moon over Lake Erie -->
            <a data-flickr-embed="true"
                href="https://www.flickr.com/photos/alberthmatos/54837705506/in/dateposted-public/"
                title="_DSC1427"><img src="https://live.staticflickr.com/65535/54837705506_bdbc7f7caf_w.jpg" width="400"
                    height="267" alt="_DSC1427" /></a>
            <script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
        </li>
        <li><!-- Playing in the leaves -->
            <a data-flickr-embed="true"
                href="https://www.flickr.com/photos/alberthmatos/55005485090/in/dateposted-public/"
                title="Playing in the leaves"><img
                    src="https://live.staticflickr.com/65535/55005485090_53427b241b_t.jpg" width="400" height="300"
                    alt="Playing in the leaves" /></a>
            <script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
        </li>
    </ul>
    <p />
    <a href="/" class="back-link">&larr; Return to top of site.</a>
</div>
{% endblock %}
